<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <input type="hidden" id="id_mahasiswa" value="<%- mahasiswa.id %>">
    <div class="container mt-5">
        <h2 class="text-center"><%- mahasiswa.nama %></h2>
        <div class="row mt-3">
            <!-- Table -->
            <div class="col-auto row col-lg-12 mt-2">
                <div class="col-2">Nama</div>
                <div class="col">: <%- mahasiswa.nama %></div>
            </div>
            <div class="col-auto row col-lg-12 mt-2">
                <div class="col-2">NIM</div>
                <div class="col">: <%- mahasiswa.nim %></div>
            </div>
            <div class="col-auto row col-lg-12 mt-2">
                <div class="col-2">Jurusan</div>
                <div class="col">: <%- mahasiswa.jurusan %></div>
            </div>
            <div class="col-auto row col-lg-12 mt-2">
                <div class="col-2">Alamat</div>
                <div class="col">: <%- mahasiswa.alamat %></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container mt-5">
        <!-- Alert -->
        <div class="col-auto col-lg-12 mt-2">
            <% if(alert.message !="" ) { %>
            <div class="alert alert-<%= alert.status %>" role="alert">
                <%= alert.message %>
            </div>
            <% } %>
        </div>
        <!-- Table -->
        <div class="col-auto col-lg-12 mt-2"><%- include('table_keluarga.ejs') %></div>
    </div>
    <!-- JS -->
    <%- include('js.ejs') %>
    <%- include('add_keluarga_modal.ejs') %>
    <%- include('edit_keluarga_modal.ejs') %>
    <script>
        /* Menampilkan modal dan memanggil tag table yang memiliki id dataTable
                    class button-update di class tag a Edit di file table.ejs */
        $(document).on("click", "#add-keluarga-modal-button", function(data) {
            // membuat variabel untuk mengambil data-id, data-name, dstnya yang sudah dibuat di file table.ejs di bagian tag a edit
            console.log($('#id_mahasiswa').val());
            let id_mhs = $('#id_mahasiswa').val();

            $("#add-keluarga-modal").modal("show");

            $(".id_mhs").val(id_mhs);
        });

        $(document).on("click", ".button-update", function() {
            // membuat variabel untuk mengambil data-id, data-name, dstnya yang sudah dibuat di file table.ejs di bagian tag a edit
            let id = $(this).data("id");
            let hubungan = $(this).data("hubungan");
            let nama = $(this).data("nama");
            /*
             * memanggil id edit-modal yang ada di file edit_modal.ejs
             * dan membuat fungsi dari method
             */
            $("#edit-modal").modal("show");
            /* Lalu Mengirim  id, name, dstnya melalu class disamping form-control tag input
               dan valuenya mengambil dari setiap let yang dideklarasikan di atas */
            $(".id").val(id);
            $(".hubungan").val(hubungan);
            $(".hubungan").val(hubungan);
            $(".nama").val(nama);
        });
    </script>
</body>

</html>